.home h1 {
  color: white;
}

.theme-list {
  background-size: cover;
  padding: 4rem 2rem;

  /* Grid styles */
  display: grid;
  align-items: center;
  gap: 4px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
img {
  border-radius: 20px;
}

img:hover {
  border-radius: 20px;
  filter: drop-shadow(0 0 0.75rem crimson);
  cursor: pointer;
}

.genre h5:hover {
  cursor: pointer;
}

.choose-genre {
  height: 300px;
}

.start-playing {
  height: 300px;
}
